.flex-sb{
	display: flex;
	justify-content: space-between;
}
.slide-image {
  width: 100%;
  height: 100%;
}

.bg-primary{
	background: #e8f9f0;
}
.bg-gray {
	background: rgb(245,245,245);
}
.card{
	border: 1px solid #dddee1;
    border-color: #e9eaec;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
}